.deleteUser {
  width: 100%;
  height: 80vh;
  @include flex(center);
  flex-direction: column;
  &__item {
    box-shadow: 0 0 10px -5px #696969;
    padding: 40px 20px;
  }
  p {
    color: #02246b;
    font-weight: 600;
    text-align: center;
  }

  &__form {
    display: flex;
  }
  &__button {
    button {
      padding: 10px 20px;
      background-color: #02246b;
      color: #fff;
      border-radius: 10px;
    }
  }
  span {
    color: red;
  }
  &__input {
    margin-right: 15px;
  }
}
