.drawer {
  display: none;
  @media (max-width: 576px) {
    display: block;
  }
  &__icon {
    color: #fff;
    font-size: 25px;
  }
  &__user {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 130px;

    h2 {
      margin-right: 15px;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      margin-top: 10px;
      color: #02246b;
    }
  }
  &__avatar {
    width: 60px;
      height: 60px;
      @include flex(center);
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
  }
  &__menu{
    color: #02246b;
    p{
        color: #02246b;
        margin-top: 12px;
        font-weight: 500;
        font-size: 18px;
    }
    a{
        color: #02246b !important;
        margin-top: 12px !important;
        font-weight: 500 !important;
        font-size: 18px !important;
    }
  }
}
