/** @format */

.finishedTodo {
	height: 100%;
	&__main-section{
	@include flex(start);

}
	&__item {
		margin-bottom: 10px;
		display: flex !important;
	}
	&__cart {
		width: 250px;
		margin-right: 30px;
	}
	&__cart-header {
		@include flex(space-between);
	}
	&__view {
		font-size: 20px;
		color: #02246b;
		margin-top: -10px;

	}
	&__status {
		margin-top: -10px;
		img {
			width: 20px;
			height: 20px;
			margin-left: 15px;
		}
	}
	&__header{
		@include flex(space-between)
	}
		.pagination{
		width: 100%;
		@include flex(center);
		margin-top: 15px;
		
	}
}
