/** @format */

.navbar {
  background-color: #02246b;
  padding: 10px 0;
  @media (max-width: 1200px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 576px) {
    &__logo {
      @include flex;
      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      a {
        font-size: 20px;
      }
    }
    &__links{
      display: none;
    }
     &__user{
      display: none !important;
     }
  }
  &__items {
    @include flex(space-between);
  }
  &__logo {
    @include flex;
    img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
    a {
      font-size: 40px;
      font-weight: 900;
      color: #fff;
      letter-spacing: 3px;
    }
  }
  &__links {
    a {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      div {
        color: #fff;
        font-size: 20px;
        margin-left: 15px;
        margin-right: -15px;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
  &__menu {
    color: #fff;
    margin-right: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    background: transparent;
  }
  &__user {
    @include flex();
h3{
  color: #02246b;
  font-weight: 700;
  font-size: 40px;
}
    .avatar {
      width: 60px;
      height: 60px;
      @include flex(center);
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
.ant-menu-title-content {
  color: #fff;
  span {
    color: #02246b !important;
  }
}
