/** @format */

.sectionThree {
	padding: 50px 0;
	&__title {
		color: #02246b;
		font-weight: 900;
		letter-spacing: 3px;
		text-align: center;
		font-size: 55px;
	}
	&__item {
		@include flex(space-between);
		width: 700px;
		margin: 0 auto;
	}
	&__cart {
		width: 300px;
		padding: 50px;
		background-color: #f6f6f6;
		border-radius: 10px;
		cursor: pointer;
		position: relative;
		text-align: center;
		transition: 0.5s ease-in-out;
		@include flex(center);
		flex-direction: column;
		&::after {
			content: "";
			width: 90%;
			height: 20px;
			background-color: #02246a;
			border-radius: 10px;
			position: absolute;
			top: 0px;
			z-index: -1;
			transition: 0.5s ease-in-out;
		}
		&:hover {
			&::after {
				top: -10px;
			}
			box-shadow: 0 0 10px -5px #696969;
		}
		img {
			@include flex(center);
			background-color: #02246a;
			border-radius: 50%;
			height: 143px;
			width: 143px;
		}
		h1 {
			color: #02246a;
			margin-top: 20px;
			font-weight: 700;
		}
		p {
			margin-bottom: 30px;
		}
		a {
			&:hover {
				transform: scale(1.5);
			}
		}
		.front {
			padding: 10px;
			background-color: #02246a;
			border-radius: 10px;
			color: #f6f6f6;
			transition: 0.5s ease-in-out;
		}
		.back {
			padding: 10px;
			background: transparent;
			border-radius: 10px;
			border: 1px solid #02246a;
			color: #02246a;
			transition: 0.5s ease-in-out;
		}
	}
}
