.dealyNotif {
  margin-left: 10px;
  margin-right: 10px;
}
.notifCardText {
  color: red;
  font-weight: 600;
  font-size: 20px;
  span {
    color: #02246b;
    font-weight: 600;
    font-size: 20px;
  }
}
