/** @format */

.sectionFour {
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 1200px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 576px) {
    &__item {
		margin-top: 20px !important;
      h3 {
        font-size: 25px !important;
      }
	  span {
		font-size: 25px !important; 
	  }
    }
    &__users {
      @include flex();
      margin-right: 0px !important;
      span {
        font-weight: 900;
        color: #02246a;
      }
    }
    &__activUsers {
      @include flex();
      margin-right: 0px !important;
      span {
        font-weight: 900;
        color: #265c02;
      }
    }
    &__usersNoActive {
      @include flex();
      span {
        font-weight: 900;
        color: #930000;
      }
    }
  }
  h1 {
    color: #02246a;
    font-weight: 700;
    text-align: center;
  }
  &__item {
    @include flex(center);
    margin-top: 50px;
    h3 {
      color: #02246a;
      font-size: 30px;
      margin-right: 15px;
    }
    span {
      font-size: 30px;
      margin-top: -10px;
      width: 40px;
      margin-left: 15px;
    }
  }
  &__users {
    @include flex();
    margin-right: 20px;
    span {
      font-weight: 900;
      color: #02246a;
    }
  }
  &__activUsers {
    @include flex();
    margin-right: 20px;
    span {
      font-weight: 900;
      color: #265c02;
    }
  }
  &__usersNoActive {
    @include flex();
    span {
      font-weight: 900;
      color: #930000;
    }
  }
}
